---
title:  静雨流风
layout: index
---
<div class="row-fluid">
    <div class="span12" display="none"></div>
  {% for post in paginator.posts %}
        {% capture summary %}{{post.content | split:'<!--more-->' |first }}{% endcapture%}
    <div class="span12 row">
        <h2><a class="title" href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post_at_index">
            {{summary}} 
        {% if summary != post.content %}<a href="{{ post.url }}" rel="nofollow">Read more...</a>{% endif %}
        </div>
        <br/>
        <div class="tag_box">
          <cite>{{ post.date | date: "%Y-%m-%d" }}</cite> <i class="icon-tag"></i>  {% for tag in post.tags %}<a href="/tags#{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
       </div> 
        <div style="clear: both;"></div>
        <hr/>
    </div> 
 {% endfor %}
</div>
{% include pagination %}




